<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detectwebshell.mapper.PhpFileMapper">
    <select id="queryPhpFiles" resultType="com.detectwebshell.pojo.PhpFile">
        select * from webshell order by id desc;
    </select>

    <insert id="insertFile" parameterType="com.detectwebshell.pojo.PhpFile">
        insert into webshell (filename, date, webshell, normal, type, detectres) values (#{filename}, #{date}, #{webshell}, #{normal},#{type}, #{detectres})
    </insert>

</mapper>